@import 'global.css';
@import 'main.css';


    .fa-row {
        background-color: var(--dominantcolor) !important;
        padding: 35px;
    }

    .fa-row-icon {
font-size: 60px;

    }