
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import 'global.css';
@import 'main.css';


    .fa-row {
        background-color: var(--dominantcolor) !important;
        padding: 35px;
        color: #ffffff;
    }

    .fa-row-icon {
font-size: 60px;
color: #ffffff;
    }


.fa-row-icon:hover {
transform: scale(1.1);

}

.first-paragraph-div {
    position: relative;
    background-color: #ffffff;
    color: black;
    font-weight: normal;
    font-size: 16px;
    padding: 20px;
    height: auto;
    margin-top: 20px;
    margin-bottom: 18px;
    font-family: "Bebas Neue", sans-serif;
    margin-left: auto;
    margin-right: auto;

}